@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translateX(-100%); /* Start off-screen left */
  }
  50% {
    transform: translateX(-0%); /* Move to off-screen right */
  }
  100% {
    transform: translateX(100%); /* Come back to off-screen left */
  }
}

.animate-slide {
  animation: slide 5s ease-in-out infinite; /* Adjust duration for speed */
}
